.wc-loading__lock {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1001;
}
.wc-loading__center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wc-fade-enter {
  opacity: 0;
}
.wc-fade-enter-active {
  transition: opacity .8s;
}
.wc-fade-leave-active {
  opacity: 0;
  transition: opacity .8s;
}